body {
  background-color: black;
  color: white;
}

.nav-link {
  color: white;
  font-weight: bold;
}

#headshot {
  max-width: 450px;
}

.card {
  background-color: black;
  color: white;

}

h5 {
  font-weight: bold;
}

#skills {
  width: 50%;
}


@media only screen and (min-width: 390px) {
  #headshot {
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 481px) {
  #headshot {
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 769px) {
  #headshot {
    max-width: 100%;
    height: auto;
  }
}

@media only screen and (min-width: 1025px) {
  #headshot {
    max-width: 100%;
    height: 700px;
  }
}

@media only screen and (min-width: 1201px) {
  #headshot {
    max-width: 100%;
    height: 700px;
  }
}